<h1>Edit Product</h1>

<div class="container">
  <%= render 'form', product: @product %>
</div>

<div class="actions-container">
  <%= link_to 'Back to Products', products_path, class: 'btn btn-back' %>
</div>